---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/73279037630
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 37c8c26b-5b77-498f-8aab-cbfae0584cf2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249818'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"73279037630","properties":{"createdate":"2024-10-23T22:43:00.417Z","email":"test@example.org","firstname":"Test","hs_object_id":"73279037630","lastmodifieddate":"2024-10-23T22:43:00.417Z","lastname":"User"},"createdAt":"2024-10-23T22:43:00.417Z","updatedAt":"2024-10-23T22:43:00.417Z","archived":false}'
  recorded_at: Wed, 23 Oct 2024 22:43:00 GMT
recorded_with: VCR 6.0.0
