---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/test@example.com?idProperty=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fe68585f-8146-497e-9073-5994cd29fd32
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249724'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"55122963644","properties":{"createdate":"2024-10-20T19:50:41.564Z","email":"test@example.com","firstname":"Test","hs_object_id":"55122963644","lastmodifieddate":"2024-10-20T19:50:41.564Z","lastname":"User"},"createdAt":"2024-10-20T19:50:41.564Z","updatedAt":"2024-10-20T19:50:41.564Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:41 GMT
recorded_with: VCR 6.0.0
