---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - fra04/hubapi-td/envoy-proxy-576d445cf9-dwdnd
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - e1f075e5-ba07-4338-8842-465c868f9abc
      X-Hubspot-Ratelimit-Daily:
      - '625000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '624990'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1","properties":{"createdate":"2024-01-18T15:01:13.519Z","email":"test@hubspot.com","firstname":"Luke","hs_object_id":"1","lastmodifieddate":"2024-09-19T15:22:36.477Z","lastname":"Skywalker
        (Sample Contact)"},"createdAt":"2024-01-18T15:01:13.519Z","updatedAt":"2024-09-19T15:22:36.477Z","archived":false}'
  recorded_at: Thu, 19 Sep 2024 15:29:39 GMT
recorded_with: VCR 6.0.0
