---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/test@example.com?idProperty=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1f23b2fb-695c-49ad-944f-2b8e0c68d1b8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249828'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '94'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"73088854263","properties":{"createdate":"2024-10-23T22:42:58.012Z","email":"test@example.com","firstname":"Test","hs_object_id":"73088854263","lastmodifieddate":"2024-10-23T22:42:58.497Z","lastname":"User"},"createdAt":"2024-10-23T22:42:58.012Z","updatedAt":"2024-10-23T22:42:58.497Z","archived":false}'
  recorded_at: Wed, 23 Oct 2024 22:42:58 GMT
recorded_with: VCR 6.0.0
