---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_NO_AUTH_ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 65b5056f-a545-4c7b-bacc-407ec686e44c
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"This app hasn''t been granted all required
        scopes to make this call. Read more about required scopes here: https://developers.hubspot.com/scopes.","correlationId":"65b5056f-a545-4c7b-bacc-407ec686e44c","errors":[{"message":"One
        or more of the following scopes are required.","context":{"requiredScopes":["e-commerce","tickets","crm.objects.goals.read","media_bridge.read","crm.objects.custom.read","crm.objects.custom.write"],"requiredGranularScopes":["crm.objects.commercepayments.read","crm.objects.invoices.read","crm.objects.carts.write","crm.objects.contacts.write","crm.objects.carts.read","crm.objects.subscriptions.read","crm.objects.appointments.read","crm.objects.line_items.read","crm.objects.appointments.write","crm.objects.line_items.write","crm.objects.listings.read","crm.objects.listings.write","crm.objects.quotes.write","crm.objects.services.read","crm.objects.quotes.read","crm.objects.services.write","crm.objects.leads.read","crm.objects.contacts.read","crm.objects.companies.read","crm.objects.leads.write","crm.objects.partner-clients.read","crm.objects.deals.read","crm.objects.courses.read","crm.objects.partner-clients.write","crm.objects.courses.write","crm.objects.deals.write","crm.objects.users.read","crm.objects.users.write","crm.objects.orders.write","crm.objects.orders.read","crm.objects.companies.write"]}}],"links":{"scopes":"https://developers.hubspot.com/scopes"},"category":"MISSING_SCOPES"}'
  recorded_at: Wed, 23 Oct 2024 22:43:01 GMT
recorded_with: VCR 6.0.0
