---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts?limit=1&properties=email,firstname
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fbaa124f-7940-4f57-b185-8a13ad423ae3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249842'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"51854903509","properties":{"createdate":"2024-10-18T13:31:11.334Z","email":"emailmaria@hubspot.com","firstname":"Maria","hs_object_id":"51854903509","lastmodifieddate":"2024-10-21T02:57:29.952Z"},"createdAt":"2024-10-18T13:31:11.334Z","updatedAt":"2024-10-21T02:57:29.952Z","archived":false}],"paging":{"next":{"after":"51854903510","link":"https://api.hubapi.com/crm/v3/objects/contacts?properties=email%2Cfirstname&limit=1&after=51854903510"}}}'
  recorded_at: Wed, 23 Oct 2024 22:42:36 GMT
recorded_with: VCR 6.0.0
