---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts?limit=1&properties=email,firstname
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2a32215b-e582-4c09-a4e5-1ce701310ddb
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249711'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '87'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"51854903509","properties":{"createdate":"2024-10-18T13:31:11.334Z","email":"emailmaria@hubspot.com","firstname":"Maria","hs_object_id":"51854903509","lastmodifieddate":"2024-10-18T13:31:31.006Z"},"createdAt":"2024-10-18T13:31:11.334Z","updatedAt":"2024-10-18T13:31:31.006Z","archived":false}],"paging":{"next":{"after":"51854903510","link":"https://api.hubapi.com/crm/v3/objects/contacts?properties=email%2Cfirstname&limit=1&after=51854903510"}}}'
  recorded_at: Sun, 20 Oct 2024 19:50:44 GMT
recorded_with: VCR 6.0.0
