---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/73133404393
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d31bb997-50c5-4b58-8ff3-3b3c3e1f2a1c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249825'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '91'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"73133404393","properties":{"createdate":"2024-10-23T22:42:59.117Z","email":"patchme@example.com","firstname":"Patch","hs_object_id":"73133404393","lastmodifieddate":"2024-10-23T22:42:59.117Z","lastname":"Meyup"},"createdAt":"2024-10-23T22:42:59.117Z","updatedAt":"2024-10-23T22:42:59.117Z","archived":false}'
  recorded_at: Wed, 23 Oct 2024 22:42:59 GMT
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/contacts/73133404393
    body:
      encoding: UTF-8
      string: '{"properties":{"lastname":"Meyup updated"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b55aa53b-6655-42d1-ac69-a28009a7c141
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249824'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '90'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"73133404393","properties":{"createdate":"2024-10-23T22:42:59.117Z","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"73133404393","hs_object_source":"INTEGRATION","hs_object_source_id":"4169410","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","lastmodifieddate":"2024-10-23T22:42:59.571Z","lastname":"Meyup
        updated","lifecyclestage":"lead"},"createdAt":"2024-10-23T22:42:59.117Z","updatedAt":"2024-10-23T22:42:59.571Z","archived":false}'
  recorded_at: Wed, 23 Oct 2024 22:42:59 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/73133404393
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4c7354ae-4259-4dbe-99eb-47783a2f969e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249821'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '87'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"73133404393","properties":{"createdate":"2024-10-23T22:42:59.117Z","email":"patchme@example.com","firstname":"Patch","hs_object_id":"73133404393","lastmodifieddate":"2024-10-23T22:42:59.867Z","lastname":"Meyup"},"createdAt":"2024-10-23T22:42:59.117Z","updatedAt":"2024-10-23T22:42:59.867Z","archived":false}'
  recorded_at: Wed, 23 Oct 2024 22:43:00 GMT
recorded_with: VCR 6.0.0
