---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/55116261579
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '03181140-cad0-4136-98cf-98231d5ea87a'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249717'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '89'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"55116261579","properties":{"createdate":"2024-10-20T19:50:43.232Z","email":"patchme@example.com","firstname":"Patch","hs_object_id":"55116261579","lastmodifieddate":"2024-10-20T19:50:43.232Z","lastname":"Meyup"},"createdAt":"2024-10-20T19:50:43.232Z","updatedAt":"2024-10-20T19:50:43.232Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:43 GMT
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/contacts/55116261579
    body:
      encoding: UTF-8
      string: '{"properties":{"lastname":"Meyup updated"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2a3f3462-3c06-4328-b2cc-acf61ed708ef
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249716'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '88'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"55116261579","properties":{"createdate":"2024-10-20T19:50:43.232Z","hs_is_contact":"true","hs_is_unworked":"true","hs_object_id":"55116261579","hs_object_source":"INTEGRATION","hs_object_source_id":"4169410","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","lastmodifieddate":"2024-10-20T19:50:43.641Z","lastname":"Meyup
        updated","lifecyclestage":"lead"},"createdAt":"2024-10-20T19:50:43.232Z","updatedAt":"2024-10-20T19:50:43.641Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:43 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts/55116261579
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1b385325-6d9f-4483-a43a-f30076fd7b6d
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249713'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '89'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"55116261579","properties":{"createdate":"2024-10-20T19:50:43.232Z","email":"patchme@example.com","firstname":"Patch","hs_object_id":"55116261579","lastmodifieddate":"2024-10-20T19:50:43.968Z","lastname":"Meyup"},"createdAt":"2024-10-20T19:50:43.232Z","updatedAt":"2024-10-20T19:50:43.968Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:44 GMT
recorded_with: VCR 6.0.0
