---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/properties/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_NO_AUTH_ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4466a12f-19ec-4bdb-8382-66e029210ae3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249816'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"You do not have permissions to view object
        type ObjectTypeId{legacyObjectType=CONTACT} in portal <HUBSPOT_PORTAL_ID>
        (requires one of [contacts-read])","correlationId":"4466a12f-19ec-4bdb-8382-66e029210ae3"}'
  recorded_at: Wed, 23 Oct 2024 22:43:01 GMT
recorded_with: VCR 6.0.0
