---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"propertyName":"email","operator":"CONTAINS_TOKEN","value":"example.org"}]}],"limit":5}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 70ed6ce0-6715-48b3-ae08-65e1d2388d32
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249834'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10,"results":[{"id":"73183578356","properties":{"createdate":"2024-10-23T22:42:36.650Z","email":"test5@example.org","firstname":"Test
        5","hs_object_id":"73183578356","lastmodifieddate":"2024-10-23T22:42:44.510Z","lastname":"User"},"createdAt":"2024-10-23T22:42:36.650Z","updatedAt":"2024-10-23T22:42:44.510Z","archived":false},{"id":"73183578357","properties":{"createdate":"2024-10-23T22:42:36.650Z","email":"test10@example.org","firstname":"Test
        10","hs_object_id":"73183578357","lastmodifieddate":"2024-10-23T22:42:46.760Z","lastname":"User"},"createdAt":"2024-10-23T22:42:36.650Z","updatedAt":"2024-10-23T22:42:46.760Z","archived":false},{"id":"73183578358","properties":{"createdate":"2024-10-23T22:42:36.650Z","email":"test4@example.org","firstname":"Test
        4","hs_object_id":"73183578358","lastmodifieddate":"2024-10-23T22:42:45.038Z","lastname":"User"},"createdAt":"2024-10-23T22:42:36.650Z","updatedAt":"2024-10-23T22:42:45.038Z","archived":false},{"id":"73183578359","properties":{"createdate":"2024-10-23T22:42:36.650Z","email":"test3@example.org","firstname":"Test
        3","hs_object_id":"73183578359","lastmodifieddate":"2024-10-23T22:42:43.865Z","lastname":"User"},"createdAt":"2024-10-23T22:42:36.650Z","updatedAt":"2024-10-23T22:42:43.865Z","archived":false},{"id":"73183578360","properties":{"createdate":"2024-10-23T22:42:36.650Z","email":"test2@example.org","firstname":"Test
        2","hs_object_id":"73183578360","lastmodifieddate":"2024-10-23T22:42:53.546Z","lastname":"User"},"createdAt":"2024-10-23T22:42:36.650Z","updatedAt":"2024-10-23T22:42:53.546Z","archived":false}],"paging":{"next":{"after":"5"}}}'
  recorded_at: Wed, 23 Oct 2024 22:42:57 GMT
recorded_with: VCR 6.0.0
