---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"propertyName":"email","operator":"CONTAINS_TOKEN","value":"example.org"}]}],"limit":5}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1bcb0f86-60ae-41ec-bac7-b01c27094ae7
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249729'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10,"results":[{"id":"54891258050","properties":{"createdate":"2024-10-20T19:50:34.350Z","email":"test6@example.org","firstname":"Test
        6","hs_object_id":"54891258050","lastmodifieddate":"2024-10-20T19:50:36.382Z","lastname":"User"},"createdAt":"2024-10-20T19:50:34.350Z","updatedAt":"2024-10-20T19:50:36.382Z","archived":false},{"id":"54891258051","properties":{"createdate":"2024-10-20T19:50:34.350Z","email":"test10@example.org","firstname":"Test
        10","hs_object_id":"54891258051","lastmodifieddate":"2024-10-20T19:50:36.382Z","lastname":"User"},"createdAt":"2024-10-20T19:50:34.350Z","updatedAt":"2024-10-20T19:50:36.382Z","archived":false},{"id":"54891258052","properties":{"createdate":"2024-10-20T19:50:34.350Z","email":"test5@example.org","firstname":"Test
        5","hs_object_id":"54891258052","lastmodifieddate":"2024-10-20T19:50:38.418Z","lastname":"User"},"createdAt":"2024-10-20T19:50:34.350Z","updatedAt":"2024-10-20T19:50:38.418Z","archived":false},{"id":"54891258053","properties":{"createdate":"2024-10-20T19:50:34.350Z","email":"test8@example.org","firstname":"Test
        8","hs_object_id":"54891258053","lastmodifieddate":"2024-10-20T19:50:36.338Z","lastname":"User"},"createdAt":"2024-10-20T19:50:34.350Z","updatedAt":"2024-10-20T19:50:36.338Z","archived":false},{"id":"54891258054","properties":{"createdate":"2024-10-20T19:50:34.350Z","email":"test7@example.org","firstname":"Test
        7","hs_object_id":"54891258054","lastmodifieddate":"2024-10-20T19:50:36.382Z","lastname":"User"},"createdAt":"2024-10-20T19:50:34.350Z","updatedAt":"2024-10-20T19:50:36.382Z","archived":false}],"paging":{"next":{"after":"5"}}}'
  recorded_at: Sun, 20 Oct 2024 19:50:40 GMT
recorded_with: VCR 6.0.0
