---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"propertyName":"email","operator":"EQ","value":"test1@example.org"}]}],"limit":5}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 535fd74f-64ca-43f6-a96a-4fb1f152eada
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249835'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1,"results":[{"id":"73183578361","properties":{"createdate":"2024-10-23T22:42:36.650Z","email":"test1@example.org","firstname":"Test
        1","hs_object_id":"73183578361","lastmodifieddate":"2024-10-23T22:42:45.157Z","lastname":"User"},"createdAt":"2024-10-23T22:42:36.650Z","updatedAt":"2024-10-23T22:42:45.157Z","archived":false}]}'
  recorded_at: Wed, 23 Oct 2024 22:42:57 GMT
recorded_with: VCR 6.0.0
