---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"propertyName":"email","operator":"EQ","value":"test1@example.org"}]}],"limit":5}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 93aebb4e-f0e1-4490-a597-085ac5206e61
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249728'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1,"results":[{"id":"54891258057","properties":{"createdate":"2024-10-20T19:50:34.350Z","email":"test1@example.org","firstname":"Test
        1","hs_object_id":"54891258057","lastmodifieddate":"2024-10-20T19:50:36.281Z","lastname":"User"},"createdAt":"2024-10-20T19:50:34.350Z","updatedAt":"2024-10-20T19:50:36.281Z","archived":false}]}'
  recorded_at: Sun, 20 Oct 2024 19:50:40 GMT
recorded_with: VCR 6.0.0
