---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"propertyName":"email","operator":"CONTAINS_TOKEN","value":"<%= test_domain %>"}]}],"limit":5,"after":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - fra04/hubapi-td/envoy-proxy-576d445cf9-r5bn8
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 79067ce8-2c6d-4a0d-89f9-462adb7d3283
      X-Hubspot-Ratelimit-Daily:
      - '625000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '624988'
    body:
      encoding: ASCII-8BIT
      string: '{"total":3,"results":[{"id":"1","properties":{"createdate":"2024-01-18T15:01:13.519Z","email":"john.doe@<%= test_domain %>","firstname":"John","hs_object_id":"1","lastmodifieddate":"2024-09-19T15:29:39.856Z","lastname":"Doe"},"createdAt":"2024-01-18T15:01:13.519Z","updatedAt":"2024-09-19T15:29:39.856Z","archived":false},
        {"id":"2","properties":{"createdate":"2024-01-18T15:01:13.930Z","email":"jane.doe@<%= test_domain %>","firstname":"Jane","hs_object_id":"2","lastmodifieddate":"2024-01-18T15:01:30.025Z","lastname":"Doe"},"createdAt":"2024-01-18T15:01:13.930Z","updatedAt":"2024-01-18T15:01:30.025Z","archived":false},
        {"id":"3","properties":{"createdate":"2024-08-15T13:19:15.521Z","email":"test@<%= test_domain %>","firstname":"Test","hs_object_id":"30040593139","lastmodifieddate":"2024-08-15T13:19:30.345Z","lastname":"Contact"},"createdAt":"2024-08-15T13:19:15.521Z","updatedAt":"2024-08-15T13:19:30.345Z","archived":false}]}'
  recorded_at: Fri, 20 Sep 2024 03:54:09 GMT
recorded_with: VCR 6.0.0
