---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/companies
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"ACME Test Company","domain":"example-2024-10-20-20-50-47.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/companies/23828159706
      X-Hubspot-Correlation-Id:
      - dc5bcaf9-95b3-47e6-8ac3-6259696736e0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249696'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '73'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"23828159706","properties":{"createdate":"2024-10-20T19:50:47.612Z","domain":"example-2024-10-20-20-50-47.com","hs_lastmodifieddate":"2024-10-20T19:50:47.612Z","hs_object_id":"23828159706","hs_object_source":"INTEGRATION","hs_object_source_id":"4169410","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","lifecyclestage":"lead","name":"ACME
        Test Company","website":"example-2024-10-20-20-50-47.com"},"createdAt":"2024-10-20T19:50:47.612Z","updatedAt":"2024-10-20T19:50:47.612Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:47 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/companies/23828159706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 341b88b0-6e22-4a69-bede-f9e03a48cea1
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249695'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '72'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"23828159706","properties":{"createdate":"2024-10-20T19:50:47.612Z","domain":"example-2024-10-20-20-50-47.com","hs_lastmodifieddate":"2024-10-20T19:50:47.612Z","hs_object_id":"23828159706","name":"ACME
        Test Company"},"createdAt":"2024-10-20T19:50:47.612Z","updatedAt":"2024-10-20T19:50:47.612Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:47 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/crm/v3/objects/companies/23828159706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - c74bc79c-380d-4e2e-995a-d4beaaf6599b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249694'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '71'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 20 Oct 2024 19:50:47 GMT
recorded_with: VCR 6.0.0
