---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/companies/666
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - fra04/hubapi-td/envoy-proxy-576d445cf9-hzkht
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 7eb73dd9-4a4c-409d-84f8-64064b61af38
      X-Hubspot-Ratelimit-Daily:
      - '625000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '624958'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"666","properties":{"createdate":"2024-09-19T19:51:05.233Z","domain":null,"hs_lastmodifieddate":"2024-09-19T19:51:08.277Z","hs_object_id":"666","name":"Numenor
        Capital"},"createdAt":"2024-09-19T19:51:05.233Z","updatedAt":"2024-09-19T19:51:08.277Z","archived":false}'
  recorded_at: Thu, 19 Sep 2024 20:52:47 GMT
[...]
