---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/companies
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"ACME Test Company","domain":"example-2024-10-20-20-50-46.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/companies/23828159705
      X-Hubspot-Correlation-Id:
      - 1cec4532-f0ec-4297-833d-6c1b60a79f4e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249700'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"23828159705","properties":{"createdate":"2024-10-20T19:50:46.999Z","domain":"example-2024-10-20-20-50-46.com","hs_lastmodifieddate":"2024-10-20T19:50:46.999Z","hs_object_id":"23828159705","hs_object_source":"INTEGRATION","hs_object_source_id":"4169410","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","lifecyclestage":"lead","name":"ACME
        Test Company","website":"example-2024-10-20-20-50-46.com"},"createdAt":"2024-10-20T19:50:46.999Z","updatedAt":"2024-10-20T19:50:46.999Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:47 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/companies/23828159705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ea776111-4329-4815-98d2-47bd50925d96
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249699'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"23828159705","properties":{"createdate":"2024-10-20T19:50:46.999Z","domain":"example-2024-10-20-20-50-46.com","hs_lastmodifieddate":"2024-10-20T19:50:46.999Z","hs_object_id":"23828159705","name":"ACME
        Test Company"},"createdAt":"2024-10-20T19:50:46.999Z","updatedAt":"2024-10-20T19:50:46.999Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:47 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/companies/23828159705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - c0c93cb3-b24a-417d-9479-8756b0e0093e
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249697'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '74'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Sun, 20 Oct 2024 19:50:47 GMT
recorded_with: VCR 6.0.0
