---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/companies/22816780518
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '0717793a-aaed-4c2f-91f9-9d28e67a2f3c'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249707'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22816780518","properties":{"createdate":"2024-10-20T19:50:45.541Z","domain":"example.com","hs_lastmodifieddate":"2024-10-20T19:50:45.541Z","hs_object_id":"22816780518","name":"ACME
        Example"},"createdAt":"2024-10-20T19:50:45.541Z","updatedAt":"2024-10-20T19:50:45.541Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:45 GMT
recorded_with: VCR 6.0.0
