---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/companies/22816780518
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 03d33db3-cbe2-4f86-a0f6-e28ec126a2a3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249706'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22816780518","properties":{"createdate":"2024-10-20T19:50:45.541Z","domain":"example.com","hs_lastmodifieddate":"2024-10-20T19:50:45.908Z","hs_object_id":"22816780518","name":"ACME
        Example"},"createdAt":"2024-10-20T19:50:45.541Z","updatedAt":"2024-10-20T19:50:45.908Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:45 GMT
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/companies/22816780518
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"ACME Example updated"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 68447329-8e58-445e-800e-173dd247cf3e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249705'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22816780518","properties":{"createdate":"2024-10-20T19:50:45.541Z","hs_lastmodifieddate":"2024-10-20T19:50:46.059Z","hs_object_id":"22816780518","hs_object_source":"INTEGRATION","hs_object_source_id":"4169410","hs_object_source_label":"INTEGRATION","hs_pipeline":"companies-lifecycle-pipeline","lifecyclestage":"lead","name":"ACME
        Example updated"},"createdAt":"2024-10-20T19:50:45.541Z","updatedAt":"2024-10-20T19:50:46.059Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:46 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/companies/22816780518
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9bd4f436-4436-4e52-98be-931eed3692f7
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249702'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22816780518","properties":{"createdate":"2024-10-20T19:50:45.541Z","domain":"example.com","hs_lastmodifieddate":"2024-10-20T19:50:46.426Z","hs_object_id":"22816780518","name":"ACME
        Example"},"createdAt":"2024-10-20T19:50:45.541Z","updatedAt":"2024-10-20T19:50:46.426Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:46 GMT
recorded_with: VCR 6.0.0
