---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/companies/<%= company_id %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - fra04/hubapi-td/envoy-proxy-576d445cf9-fq9km
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 7f6ca665-8885-4775-be2e-428f6dfe882b
      X-Hubspot-Ratelimit-Daily:
      - '625000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '624972'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"<%= company_id %>","properties":{"createdate":"2024-09-19T19:07:51.338Z","domain":"sensadrome.com","hs_lastmodifieddate":"2024-09-19T19:07:53.952Z","hs_object_id":"<%= company_id %>","name":"Sensadrome"},"createdAt":"2024-09-19T19:07:51.338Z","updatedAt":"2024-09-19T19:07:53.952Z","archived":false}'
  recorded_at: Thu, 19 Sep 2024 19:15:13 GMT
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/companies/<%= company_id %>
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Sensadrome updated"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - fra04/hubapi-td/envoy-proxy-576d445cf9-kzqpr
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 17093bc8-1d9b-452e-a44a-acebeecc649a
      X-Hubspot-Ratelimit-Daily:
      - '625000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '624971'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '188'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"<%= company_id %>","properties":{"createdate":"2024-09-19T19:07:51.338Z","hs_all_owner_ids":"688411925","hs_created_by_user_id":"69153139","hs_lastmodifieddate":"2024-09-19T19:15:13.435Z","hs_object_id":"<%= company_id %>","hs_object_source":"CRM_UI","hs_object_source_id":"userId:69153139","hs_object_source_label":"CRM_UI","hs_object_source_user_id":"69153139","hs_pipeline":"companies-lifecycle-pipeline","hs_updated_by_user_id":"69153139","hs_user_ids_of_all_owners":"69153139","hubspot_owner_assigneddate":"2024-09-19T19:07:51.338Z","hubspot_owner_id":"688411925","lifecyclestage":"lead","name":"Sensadrome
        updated"},"createdAt":"2024-09-19T19:07:51.338Z","updatedAt":"2024-09-19T19:15:13.435Z","archived":false}'
  recorded_at: Thu, 19 Sep 2024 19:15:13 GMT
[...]
