---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/properties/companies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_NO_AUTH_ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8756b2ab-46c6-49e9-93ce-0d1f00eb4227
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249693'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"You do not have permissions to view object
        type ObjectTypeId{legacyObjectType=COMPANY} in portal <HUBSPOT_PORTAL_ID>
        (requires one of [companies-read])","correlationId":"8756b2ab-46c6-49e9-93ce-0d1f00eb4227"}'
  recorded_at: Sun, 20 Oct 2024 19:50:48 GMT
recorded_with: VCR 6.0.0
