---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/properties/companies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - fra04/hubapi-td/envoy-proxy-576d445cf9-ggtw8
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 3d58f892-c937-413f-adcc-5b3d2c72ad55
      X-Hubspot-Ratelimit-Daily:
      - '625000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '624992'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"You do not have permissions to view object
        type ObjectTypeId{legacyObjectType=COMPANY} in portal <HUBSPOT_PORTAL_ID>
        (requires one of [companies-read])","correlationId":"3d58f892-c937-413f-adcc-5b3d2c72ad55"}'
  recorded_at: Sun, 22 Sep 2024 17:25:11 GMT
recorded_with: VCR 6.0.0
