---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/users/1?properties=hs_email,hs_given_name,hs_family_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - fra04/hubapi-td/envoy-proxy-576d445cf9-zd86x
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - df0e65b3-23b6-4057-8f53-7723b9108059
      X-Hubspot-Ratelimit-Daily:
      - '625000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '624997'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"This app hasn''t been granted all required
        scopes to make this call. Read more about required scopes here: https://developers.hubspot.com/scopes.","correlationId":"df0e65b3-23b6-4057-8f53-7723b9108059","errors":[{"message":"One
        or more of the following scopes are required.","context":{"requiredGranularScopes":["crm.objects.users.read"]}}],"links":{"scopes":"https://developers.hubspot.com/scopes"},"category":"MISSING_SCOPES"}'
  recorded_at: Sat, 21 Sep 2024 17:57:23 GMT
recorded_with: VCR 6.0.0
