---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/users?limit=1&properties=hs_email,hs_given_name,hs_family_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Evy-Trace-Listener:
      - listener_https
      X-Evy-Trace-Route-Configuration:
      - listener_https/all
      X-Evy-Trace-Route-Service-Name:
      - envoyset-translator
      X-Evy-Trace-Served-By-Pod:
      - fra04/hubapi-td/envoy-proxy-576d445cf9-sdqwk
      X-Evy-Trace-Virtual-Host:
      - all
      X-Hubspot-Correlation-Id:
      - 71162ad9-0839-4d07-8a96-035fb24348c7
      X-Hubspot-Ratelimit-Daily:
      - '625000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '624998'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"101293478607","properties":{"hs_createdate":"2024-01-18T15:01:11.404Z","hs_lastmodifieddate":"2024-08-07T16:19:27.845Z","hs_object_id":"101293478607","hs_given_name":"Luke","hs_family_name":"Skywalker","hs_email":"luke@jedi.org"},"createdAt":"2024-01-18T15:01:11.404Z","updatedAt":"2024-08-07T16:19:27.845Z","archived":false}],"paging":{"next":{"after":"101293478608","link":"https://api.hubapi.com/crm/v3/objects/users?limit=1&after=101293478608"}}}'
  recorded_at: Sun, 22 Sep 2024 01:55:03 GMT
recorded_with: VCR 6.0.0
