---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"properties":{"firstname":"Test 1","lastname":"User","email":"test1@example.org"}},{"properties":{"firstname":"Test
        2","lastname":"User","email":"test2@example.org"}},{"properties":{"firstname":"Test
        3","lastname":"User","email":"test3@example.org"}},{"properties":{"firstname":"Test
        4","lastname":"User","email":"test4@example.org"}},{"properties":{"firstname":"Test
        5","lastname":"User","email":"test5@example.org"}},{"properties":{"firstname":"Test
        6","lastname":"User","email":"test6@example.org"}},{"properties":{"firstname":"Test
        7","lastname":"User","email":"test7@example.org"}},{"properties":{"firstname":"Test
        8","lastname":"User","email":"test8@example.org"}},{"properties":{"firstname":"Test
        9","lastname":"User","email":"test9@example.org"}},{"properties":{"firstname":"Test
        10","lastname":"User","email":"test10@example.org"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fc7f3f7e-c9ef-47f5-a7d2-9b62eeee617a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249730'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"COMPLETE","results":[{"id":"54891258055","properties":{"createdate":"2024-10-20T19:50:34.350Z","email":"test2@example.org","firstname":"Test
        2","hs_all_contact_vids":"54891258055","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.org","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2024-10-20T19:50:34.350Z","hs_membership_has_accessed_private_content":"0","hs_object_id":"54891258055","hs_object_source":"INTEGRATION","hs_object_source_id":"4169410","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_registered_member":"0","lastmodifieddate":"2024-10-20T19:50:34.350Z","lastname":"User","lifecyclestage":"lead"},"createdAt":"2024-10-20T19:50:34.350Z","updatedAt":"2024-10-20T19:50:34.350Z","archived":false},{"id":"54891258054","properties":{"createdate":"2024-10-20T19:50:34.350Z","email":"test7@example.org","firstname":"Test
        7","hs_all_contact_vids":"54891258054","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.org","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2024-10-20T19:50:34.350Z","hs_membership_has_accessed_private_content":"0","hs_object_id":"54891258054","hs_object_source":"INTEGRATION","hs_object_source_id":"416[...]
