---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":{"email":"test@example.com","firstname":"Test","lastname":"User"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/contacts/73088854263
      X-Hubspot-Correlation-Id:
      - d15f1391-57f4-465c-b22b-4fb133f5aeaa
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249832'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"73088854263","properties":{"createdate":"2024-10-23T22:42:58.012Z","email":"test@example.com","firstname":"Test","hs_all_contact_vids":"73088854263","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.com","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2024-10-23T22:42:58.012Z","hs_membership_has_accessed_private_content":"0","hs_object_id":"73088854263","hs_object_source":"INTEGRATION","hs_object_source_id":"4169410","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_registered_member":"0","lastmodifieddate":"2024-10-23T22:42:58.012Z","lastname":"User","lifecyclestage":"lead"},"createdAt":"2024-10-23T22:42:58.012Z","updatedAt":"2024-10-23T22:42:58.012Z","archived":false}'
  recorded_at: Wed, 23 Oct 2024 22:42:58 GMT
recorded_with: VCR 6.0.0
