---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":{"email":"patchme@example.com","firstname":"Patch","lastname":"Meyup"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/contacts/55116261579
      X-Hubspot-Correlation-Id:
      - 3a72658a-0d2a-46cd-82b5-d75d0e1734b3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249718'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '90'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"55116261579","properties":{"createdate":"2024-10-20T19:50:43.232Z","email":"patchme@example.com","firstname":"Patch","hs_all_contact_vids":"55116261579","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.com","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2024-10-20T19:50:43.232Z","hs_membership_has_accessed_private_content":"0","hs_object_id":"55116261579","hs_object_source":"INTEGRATION","hs_object_source_id":"4169410","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_registered_member":"0","lastmodifieddate":"2024-10-20T19:50:43.232Z","lastname":"Meyup","lifecyclestage":"lead"},"createdAt":"2024-10-20T19:50:43.232Z","updatedAt":"2024-10-20T19:50:43.232Z","archived":false}'
  recorded_at: Sun, 20 Oct 2024 19:50:43 GMT
recorded_with: VCR 6.0.0
