---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts
    body:
      encoding: UTF-8
      string: '{"properties":{"email":"patchme@example.com","firstname":"Patch","lastname":"Meyup"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <HUBSPOT_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/contacts/73133404393
      X-Hubspot-Correlation-Id:
      - be4372e5-421b-4fd0-8a45-6a532d4ad00a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249826'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '92'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"73133404393","properties":{"createdate":"2024-10-23T22:42:59.117Z","email":"patchme@example.com","firstname":"Patch","hs_all_contact_vids":"73133404393","hs_currently_enrolled_in_prospecting_agent":"false","hs_email_domain":"example.com","hs_is_contact":"true","hs_is_unworked":"true","hs_lifecyclestage_lead_date":"2024-10-23T22:42:59.117Z","hs_membership_has_accessed_private_content":"0","hs_object_id":"73133404393","hs_object_source":"INTEGRATION","hs_object_source_id":"4169410","hs_object_source_label":"INTEGRATION","hs_pipeline":"contacts-lifecycle-pipeline","hs_registered_member":"0","lastmodifieddate":"2024-10-23T22:42:59.117Z","lastname":"Meyup","lifecyclestage":"lead"},"createdAt":"2024-10-23T22:42:59.117Z","updatedAt":"2024-10-23T22:42:59.117Z","archived":false}'
  recorded_at: Wed, 23 Oct 2024 22:42:59 GMT
recorded_with: VCR 6.0.0
